/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope{
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item{
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.card {
    margin: 0 30px 30px 0;
    width: 250px;
    display: block;
    float: left;
    position: relative;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card .thumb {
    display: block;
    position: relative;
}
.card .thumb:hover {
    cursor:pointer;
}
.card .thumb img {
    width: 100%;
    height: 160px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #e6e6e6;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card .thumb .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    background: #000;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    background: rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card .thumb .overlay .fa {
    position: relative;
    top: 38%;
    font-size: 32px;
    text-align: center;
    color: #fff;
}
.card .thumb:hover .overlay {
    display: block;
}
.card .card-body {
    padding: 10px 15px 15px;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card .card-body h2 {
    margin: 0 0 3px;
    height: 35px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.4;
}
.card .card-body h2 a {
    font-weight: 500;
}
.card .card-body p {
    margin: 0;
    font-size: 13px;
    word-wrap:break-word;
}
.card .card-body .post-meta {
    margin: 0 0 10px;
    padding: 5px 0 10px;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
    color: #898989;
}
.card .card-body .post-meta li {
    margin-right: 15px;
}
.card .card-footer {
    padding: 8px 15px;
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card .card-footer .list-inline {
    margin: 0;
}
.card .card-footer .list-inline li {
    font-size: 13px;
    color: #787878;
}
.card .card-footer .list-inline li a {
    color: #787878;
}
.card .card-footer .list-inline li a:hover {
    color: #337ab7;
    text-decoration: none;
}
.card .card-footer .list-inline li .fa {
    margin-right: 5px;
}
.portfolio-wrapper {
    overflow: visible !important;
}
.portfolio .card h2 {
    margin-bottom: 10px;
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
}
.content .card .card-body h2,
.content .card .card-body h3 {
    font-size: 24px;
}
.content .card {
    width: 100%;
}




.card-small {
    margin: 0 30px 10px 0;
    width: 80px;
    display: block;
    float: left;
    position: relative;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card-small .thumb {
    display: block;
    position: relative;
}
.card-small .thumb:hover {
    cursor:pointer;
}
.card-small .thumb img {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #e6e6e6;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card-small .thumb .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    background: #000;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    background: rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card-small .thumb .overlay .fa {
    position: relative;
    top: 38%;
    font-size: 32px;
    text-align: center;
    color: #fff;
}
.card-small .thumb:hover .overlay {
    display: none;
}
.card-small .card-body {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.card-small .card-footer {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.isotope .active img{
    border:3px solid #337ab7;
}
#project-detail{
     height: 0;
     width:100%;
     overflow: hidden;
}
#project-detail .fa-chevron-circle-up{
    font-size:30px;
    width:100%;
    height:30px;
    margin-top:10px;
    margin-bottom:10px;
}
#project-detail .fa-chevron-circle-up:hover{
    cursor:pointer;
}